
.body{
    height: 100vh;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    overflow: hidden;
    color: white;
}
img{
    border-radius: 100%;
}
.navbar {
    width: 100%; 
    margin: 0;
  padding: 0.5rem 1rem; 
} 
.bg-dark {
    background-color: #343a40 !important; 
    width: 100%; 
    padding: 0; 
} 
.navbar-nav {
    margin: 0 auto; 
    justify-content: center;
    color: white;
}  
.nav-item .nav-link {
    padding: 0.5rem 1.5rem; 
}